<nz-row [nzGutter]="24" class="py-lg">
  <nz-col [nzSpan]="3">
    <nz-card nzTitle="Personal settings" class="ant-card__body-nopadding">
      <a (click)="active=1" class="d-block py-sm px-md" [ngClass]="{'bg-primary-light text-white':active===1}">Profile</a>
      <a (click)="active=2" class="d-block py-sm px-md" [ngClass]="{'bg-primary-light text-white':active===2}">Account</a>
    </nz-card>
  </nz-col>
  <nz-col [nzSpan]="18">
    <nz-card nzTitle="Public profile" *ngIf="active===1">
      <nz-row [nzGutter]="64">
        <nz-col [nzSpan]="16">
          <form nz-form [formGroup]="profileForm" (ngSubmit)="profileSave($event, profileForm.value)" [nzLayout]="'vertical'">
            <nz-form-item>
              <nz-form-label nzFor="account" nzRequired>账号</nz-form-label>
              <nz-form-control>
                <input nz-input formControlName="account" id="account">
                <div *ngIf="account.invalid && (account.dirty || account.touched)">
                  <nz-form-explain *ngIf="account.errors.required">请输入账号！</nz-form-explain>
                  <nz-form-explain *ngIf="account.errors.pattern">请输入账户名且至少五个字符！</nz-form-explain>
                </div>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label nzFor="name" nzRequired>用户名</nz-form-label>
              <nz-form-control>
                <input nz-input formControlName="name" id="name">
                <div *ngIf="name.invalid && (name.dirty || name.touched)">
                  <nz-form-explain *ngIf="name.errors.required">请输入用户名！</nz-form-explain>
                  <nz-form-explain *ngIf="name.errors.pattern">请输入用户名且至少五个字符！</nz-form-explain>
                </div>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label nzFor="email" nzRequired>邮箱</nz-form-label>
              <nz-form-control>
                <input nz-input formControlName="email" id="email">
                <div *ngIf="email.dirty && email.errors">
                  <nz-form-explain *ngIf="email.errors?.required">请输入邮箱地址！</nz-form-explain>
                  <nz-form-explain *ngIf="email.errors?.email">邮箱地址格式错误！</nz-form-explain>
                </div>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label nzFor="mobile">手机号</nz-form-label>
              <nz-form-control>
                <input nz-input formControlName="mobile" id="mobile" placeholder="请输入电话号码">
                <div *ngIf="email.dirty && email.errors">
                  <nz-form-explain *ngIf="email.errors.pattern">手机号格式错误！</nz-form-explain>
                </div>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label nzFor="wechat">微信号</nz-form-label>
              <nz-form-control>
                <input nz-input formControlName="wechat" id="wechat">
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label nzFor="registerTime">注册时间</nz-form-label>
              <nz-form-control>
                <input nz-input formControlName="registerTime" id="registerTime">
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control>
                <button nz-button [nzType]="'primary'" [disabled]="profileForm.invalid">修改参数</button>
              </nz-form-control>
            </nz-form-item>
          </form>
        </nz-col>
        <nz-col [nzSpan]="8">
          <h4>Profile picture</h4>
          <img src="./assets/tmp/img/avatar.jpg" style="width: 100%;">
          <nz-upload nzAction="https://jsonplaceholder.typicode.com/posts/" class="d-block mt-md text-center">
            <button nz-button>Upload new picture</button>
          </nz-upload>
        </nz-col>
      </nz-row>
    </nz-card>
    <nz-card nzTitle="Change password" *ngIf="active===2">
      <nz-row [nzGutter]="64">
        <nz-col [nzSpan]="16">
          <form nz-form [formGroup]="passwordForm" [nzLayout]="'vertical'">
            <nz-form-item>
              <nz-form-label nzFor="old_password" nzRequired>旧密码</nz-form-label>
              <nz-form-control>
                <input nz-input formControlName="old_password" name="old_password" id="old_password" type="password" required>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label nzFor="new_password" nzRequired>新密码</nz-form-label>
              <nz-form-control>
                <input nz-input formControlName="new_password" name="new_password" id="new_password" type="password" required>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-label nzRequired nzFor="confirm_new_password">确认新密码</nz-form-label>
              <nz-form-control>
                <input nz-input formControlName="confirm_new_password" name="confirm_new_password" id="confirm_new_password" type="password"
                  required>
              </nz-form-control>
            </nz-form-item>
            <nz-form-item>
              <nz-form-control>
                <button nz-button (click)="pwdSave()" [disabled]="passwordForm.invalid" [nzType]="'primary'">修改密码</button>
                <a class="pl-sm" [routerLink]="['/forget']">I forgot my password</a>
              </nz-form-control>
            </nz-form-item>
          </form>
        </nz-col>
      </nz-row>
    </nz-card>
  </nz-col>
</nz-row>
